/*
* CSS styles for the application
*/

body {
    padding-top: 5rem;
}
main > .container {
    padding: 60px 15px 0;
}
.header .logo{
    text-align: left;
    padding: 0 0 0 90px;
    float: left;
}
.content {
    padding: 3rem 1.5rem;
    text-align: center;
}
.footer {
    background-color: #f5f5f5;
}  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
