/*
* CSS styles for the application
*/

body {
    padding-top: 5rem;
}
main > .container {
    padding: 60px 15px 0;
}
.header .logo{
    text-align: left;
    padding: 0 0 0 90px;
    float: left;
}
.content {
    padding: 3rem 1.5rem;
    text-align: center;
}
.footer {
    background-color: #f5f5f5;
}  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}


/* Index */
body h1{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 5px 0;
  }
  
  body h2{
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 20px 0;
  }
  
  body .blurb{
    text-align: center;
    background-color: #ececec;
    border-color: #b3b3b3;
    border-style: dotted;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 20px auto;
    max-width: 500px;
    line-height: 150%;
    font-size: 14px;
  }
  
  body .ctaWrapper{
    text-align: center;
  }
  
  body .cta{
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 15px;
    width: 150px;
  }
  
  body .cta.blue{
    background-color: #214478;
  }
  
  body .cta.green{
    background-color: #217844;
  }

  /* AccountCreate page and others form styling*/
.formWrapper{
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}

.formError{
  display: none;
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

input {
  border-width: 1px;
  border-radius: 2px;
  padding: 7px 1%;
  width: 100%;
}

.inputWrapper{
  padding: 0 0 20px 0;
}

.inputLabel{
  padding: 0 0 5px 0;
  color: #808080;
}