<!DOCTYPE html>
<html class="h-100">
<head>
    <!-- General meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{global.baseUrl}"/>

    <!-- Custom meta tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Static assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
    <style>
        
    </style>
</head>

<body class="d-flex flex-column h-100 {body.class}">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand logo" href="/">
                <img src="public/logo.png" alt="Logo" height="30px"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/edit">Account Settings</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/create">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/session/create">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/session/delete">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main role="main" class="flex-shrink-0">
        <!-- Page wrapper -->
        <div class="container">

            <!-- Page specific content -->
            <div class="content">